<!DOCTYPE html>
<html lang="en">
<body>
    <h1> HTML input & output practice</h1>
    <form action="/result" method="POST">
        <p><b>* Name</b> <input type='text' id='name' name='name' /></p>
        <p><b>* Student Number</b> <input type='text' id='StudentNumber' name='StudentNumber' /></p>
        <p><b>Major</b> <input type='text' id='Major' name='Major' /></p>
        <p><b>Gender</b></p>
        <label><input type="radio" id='Gender' name="Gender" value="Male">Male</label>
        <label><input type="radio" id='Gender' name="Gender" value="Female">Female</label>
        <label>Email Domain:
            <select name=“email_domain”>
                <option value=“example.com”>example.com</option>
                <option value=“domain2.com”>domain2.com</option>
            </select>
        </label><br>
        <label>Email Suffix (Choose up to 5):
            <select name=“email_suffix[]” multiple>
                <option value=“naver.com”>1</option>
                <option value=“daum.net”>2</option>
                <option value=“hanmail.net”>3</option>
                <option value=“gmail.com”>4</option>
                <option value=“dgu.ac.kr”>5</option>
            </select>
        </label>
        <p><b>Programming Languages</b></p>
        <label><input type="checkbox" name="PL" value="Python">Python</label>
        <label><input type="checkbox" name="PL" value="Java">Java</label>
        <label><input type="checkbox" name="PL" value="HTML">HTML</label>
        <label><input type="checkbox" name="PL" value="C++">C++</label>
        <p></p>
        <button type='submit' name='submit' value='submit'>submit</button>
    </form>
</body>
</html>